

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.App-header {
  background-color: #FBF8F1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

/*.App-link {
  color: #61dafb;
}*/

.to-do-background {
  width: 35%;
}

.checkboxes {
  font-size: 15px;
  margin-top: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-header {
  display: flex;
  justify-content: space-between;
}

h1 {
  margin: 0px;
  font-family: 'Fredoka', sans-serif;
}

.form {
  display: flex;
}

.btn {
  background-color: #eb548c;
  cursor: pointer;
  border: none;
  padding: 10px;
  margin-left: 5px;
  border-radius: 10px;
}

ul {
  background: #54BAB9;
  padding: 20px;
  border-radius: 10px;
}

ul li {
  background: white;
  margin: 5px;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list-btn-container {
  display: flex;
}

.list-btn {
  border: none;
  background: none;
  cursor: pointer;
}


/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
