

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

.App-header {
  background-color: #FBF8F1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.to-do-background {
  width: 35%;
}

.checkboxes {
  font-size: 15px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-header {
  display: flex;
  justify-content: space-between;
}

h1 {
  margin: 0px;
  font-family: 'Fredoka', sans-serif;
}

.form {
  display: flex;
 
}

ul {
  background: #54BAB9;
  padding: 40px;
}

ul li {
  background: white;
  margin: 5px;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list-btn-container {
  display: flex;
}

.list-btn {
  border: none;
  background: none;
  cursor: pointer;
}


/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
